<?xml version="1.0" encoding="utf-8"?>
<!-- This config transform is ran by Octo in all environments. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!--
		- Octo has 2 methods of variable replacement:
		-	1. Finding appsettings whose keys match a corresponding Octo variable
		-   2. Finding and replacing variables in #{} syntax (e.g. value="#{JwtSharedKey}")
		- These are individual features which must be turned on in Octo for the project.
		-->
		
		<!-- RabbitMQ Settings-->
		<add key="RabbitMQUsername"
			 value="Octo Variable"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
		<add key="RabbitMQPassword"
			 value="Octo Variable"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
		
		<!-- JWT Settings -->
		<add key="JwtSharedKey"
			 value="Octo Variable"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
	</appSettings>
</configuration>