<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- RabbitMQ Settings-->
		<add key="RabbitMQUsername" value="svc_LocalRabbitAccessDEV" />
		<add key="RabbitMQPassword" value="LetMeIn2Rabbit!" />

		<!-- JWT Settings -->
		<add key="JwtSharedKey" value="77AC403B-93E7-4F7A-956C-C175F5ECB72A-94876341-5018-46FB-887D-D97B816A62F5" />

	</appSettings>
</configuration>